<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />

    <title>CRM: Список партнеров и скидок</title>

    <link
      rel="icon"
      type="image/png"
      href="{{ url_for('static', filename='resources/favicon-96x96.png') }}"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>

  <body>
    <div class="container">
      <header>
        <img
          src="{{ url_for('static', filename='resources/hexlet-logo.png') }}"
          class="logo"
          alt="Логотип"
        />

        <h1>CRM: Список партнеров и скидок</h1>
      </header>

      {% for partner in partners %}

      <div class="partner">
        <div>
          <div class="partner-title">{{ partner.name }}</div>
          <div>{{ partner.email or "Email не указан" }}</div>
          <div>{{ partner.phone or "Телефон не указан" }}</div>
        </div>

        <div class="discount">{{ partner.discount }}%</div>
      </div>

      {% endfor %}
    </div>
  </body>
</html>
